db_server=localhost
db_port=:3306
db_username=clabgizurcom
db_password=clabgizurcom
db_name=clabgizurcom
s3_access_key=...
s3_secret_key=...

# For supervisor.conf
# environment=db_server="localhost",db_port=":3306",db_username="clabgizurcom",db_password="clabgizurcom",db_name="clabgizurcom",absolute_uri="https://clabtviger.gizur.local"
